.hidden2 {
  display: none;
}

.clickable {
  color: red;
  cursor: pointer;
}

.clickable:hover {
  font-weight: bold;
}
.whiteBackground {
  background-color: white;
}
.blackBackground {
  background-color:black;
  color: white;
}

body {
  background-color: green;
}
